---
---

@import "{{ site.theme }}";

.project-box {
    background-color: rgb(238, 238, 238) !important;
    min-height: 212px;
}

.author-list {
   min-height: 80px;
}

.divide-line {
    border-top: 1px solid #fff !important;
    margin: 0 0 10px !important;
}
