<div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Data Boars</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Jakub Cwynar</div>
                  <div class="author">Kacper Kania</div>
                  <div class="author">Michał Kosturek</div>
                  <div class="author">Jakub Michałowski</div>
                  <p></p>
                </div>
                <p><a href="http://data-boars.ml/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
         
         <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Multiplex Network Analysis</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Mateusz Gaweł</div>
                  <div class="author">Grzegorz Suszka</div>
                <p></p>
                </div>
                <p><a href="http://munea.ml" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>TGEM</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Piotr Bielak</div>
                  <div class="author">Michał Bieroński</div>
                  <div class="author">Michał Jóźwiak</div>
                </div>
                <p></p>
                <p><a href="http://tgem.ml" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>YourMove</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Mateusz Zimoch</div>
                  <div class="author">Piotr Zieliński</div>
                  <div class="author">Bartłomiej Kurzeja</div>
                  <div class="author">Bartosz Gierczak</div>
                </div>
                <p></p>
                <p><a href="http://yourmove.ml" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Indeks Proliferacji Ki67</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Jakub Błaszczyk</div>
                  <div class="author">Adam Dłubak</div>
                  <div class="author">Aleksandra Orzechowska</div>
                </div>
                <p></p>
                <p><a href="https://index-ki67.github.io/Ki67/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Modern Neuroevolution</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Michał Antkiewicz</div>
                </div>
                <p></p>
                <p><a href="https://michalantkiewicz.github.io/ModernNeuroevolution/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>TripsGuide</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Klaudia Herkt</div>
                  <div class="author">Radosław Lemiec</div>
                  <div class="author">Radosław Makowiecki</div>
                  <div class="author">Sebastian Muszyński</div>
                </div>
                <p></p>
                <p><a href="https://docs.google.com/presentation/d/1BHGZ4eAysgwklz5o5hmV_mJY8b3OLOkNBsbc-1uahzM/edit?usp=sharing" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <div class="author-list">
                  <h4>MTG-AI</h4>
                  <hr class="divide-line" />
                  <div class="author-list">
                    <div class="author">Piotr Grzybowski</div>
                  </div>
                  <p></p>
                </div>
                <p><a href="https://docs.google.com/presentation/d/1FKyKdb2ncjZYZaKJ-ERyPD6UaiUOs-lHfIOvBpP3xTc/edit?usp=sharing" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Melanoma Skin App</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Patrycja Jakimów</div>
                  <div class="author">Alicja Potyrała</div>
                  <div class="author">Judyta Gołdon</div>
                  <div class="author">Damian Serwata</div>
                  <p></p>
                </div>
                <p><a href="http://melanomaskinapp.ml/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Conv vs CapsNet</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Ewa Juralewicz</div>
                  <p></p>
                </div>  
                <p><a href="https://docs.google.com/presentation/d/e/2PACX-1vRyL8SRoFuu8e-rUU6OOlivF520cDk1oFZfa4HA-F8dvhve4X1ekR9vwiJbvppkAjGOXjA6aAE7XuXn/pub?start=false&loop=false&delayms=3000" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
         <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Fake News Project</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Tomasz Pastusiak</div>
                  <div class="author">Jacek Cabak</div>
                  <div class="author">Piotr Macek</div>
                  <div class="author">Leszek Kawecki</div>
                  <p></p>
                </div>
                <p><a href="http://fake-news-project.ml/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
           <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>SMOG</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Maciej Urbaniak</div>
                  <div class="author">Łukasz Drewniak</div>
                  <div class="author">Ernest Dziemidowicz</div>
                  <p></p>
                </div>
                <p><a href="https://docs.google.com/presentation/d/1wTxkI0EBjT0rijH26_6s0mshy_THaBcenvbdXnebLfU/edit?usp=sharing" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Data Inbalance</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Jakub Szkatuła</div>
                  <div class="author">Hubert Jegierski</div>
                  <p></p>
                </div>
                <p><a href="http://jrhnbr-ml.space/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Content-based Beer Retrieval</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Paweł Mielniczuk</div>
                  <p></p>
                </div>  
                <p><a href="https://docs.google.com/presentation/d/1Kn_J7TYOzihnMviB4UWke76nRlR-aL2vh1SKdt-JHBk/edit?usp=sharing" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>3D Point Clouds</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Adrian Zdobylak</div>
                  <p></p>
                </div>
                <p><a href="https://azdobylak.github.io/3d-pointclouds/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
		  
		  <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Semantic Web</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Łukasz Kopociński</div>
                  <p></p>
                </div>
                <p><a href="https://docs.google.com/presentation/d/e/2PACX-1vSJ44VIqGxIqSyh4mMzq7nEYEl5hCRtBbdYJ7enxam77iQIo2yWKyqhTNJmQp5bsLLKD6FkumDY1zQ4/pub?start=true&loop=true&delayms=3000" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
		
		<div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Ujednoznacznianie Tekstów</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Kacper Ostrycharczyk</div>
                  <p></p>
                </div>
                <p><a href="https://drive.google.com/file/d/1ZxMZ8xCZoh1rPWtqu2cpJ3KgOV3324y-/view?usp=sharing" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
		  <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Niedyskretna Regularyzacja Dropout</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Krzysztof Wołk</div>
                  <p></p>
                </div>
                <p><a href="https://docs.google.com/presentation/d/1JFCN446PgL8E1j7UBU9DPmGqOKLh-FCAt1VYIKAtLRY/edit?usp=sharing" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
</div>