<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Danologia - Projekty studenckie</title>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.scss?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Danologia PWr</h1>
        <h3>Projekty</h3>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        {{ content }}
<!--         {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
        {{ content }}
        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %} -->

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>
       <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Data Boars</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Jakub Cwynar</div>
                  <div class="author">Kacper Kania</div>
                  <div class="author">Michał Kosturek</div>
                  <div class="author">Jakub Michałowski</div>
                  <p></p>
                </div>
                <p><a href="http://data-boars.ml/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
         
         <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Multiplex Network Analysis</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Mateusz Gaweł</div>
                  <div class="author">Grzegorz Suszka</div>
                <p></p>
                </div>
                <p><a href="http://munea.ml" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>TGEM</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Piotr Bielak</div>
                  <div class="author">Michał Bieroński</div>
                  <div class="author">Michał Jóźwiak</div>
                </div>
                <p></p>
                <p><a href="http://tgem.ml" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>YourMove</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Mateusz Zimoch</div>
                  <div class="author">Piotr Zieliński</div>
                  <div class="author">Bartłomiej Kurzeja</div>
                  <div class="author">Bartosz Gierczak</div>
                </div>
                <p></p>
                <p><a href="http://yourmove.ml" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Indeks Proliferacji Ki67</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Jakub Błaszczyk</div>
                  <div class="author">Adam Dłubak</div>
                  <div class="author">Aleksandra Orzechowska</div>
                </div>
                <p></p>
                <p><a href="https://index-ki67.github.io/Ki67/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Modern Neuroevolution</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Michał Antkiewicz</div>
                </div>
                <p></p>
                <p><a href="https://michalantkiewicz.github.io/ModernNeuroevolution/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>TripsGuide</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Klaudia Herkt</div>
                  <div class="author">Radosław Lemiec</div>
                  <div class="author">Radosław Makowiecki</div>
                  <div class="author">Sebastian Muszyński</div>
                </div>
                <p></p>
                <p><a href="https://docs.google.com/presentation/d/1BHGZ4eAysgwklz5o5hmV_mJY8b3OLOkNBsbc-1uahzM/edit?usp=sharing" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <div class="author-list">
                  <h4>MTG-AI</h4>
                  <hr class="divide-line" />
                  <div class="author-list">
                    <div class="author">Piotr Grzybowski</div>
                  </div>
                  <p></p>
                </div>
                <p><a href="https://docs.google.com/presentation/d/1FKyKdb2ncjZYZaKJ-ERyPD6UaiUOs-lHfIOvBpP3xTc/edit?usp=sharing" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Melanoma Skin App</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Patrycja Jakimów</div>
                  <div class="author">Alicja Potyrała</div>
                  <div class="author">Judyta Gołdon</div>
                  <div class="author">Damian Serwata</div>
                  <p></p>
                </div>
                <p><a href="http://melanomaskinapp.ml/" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail project-box">
              <div class="caption">
                <h4>Conv vs CapsNet</h4>
                <hr class="divide-line" />
                <div class="author-list">
                  <div class="author">Ewa Juralewicz</div>
                  <p></p>
                </div>  
                <p><a href="#" class="btn btn-primary" target="_blank" role="button">Strona projektu</a>
              </div>
            </div>
          </div>
        </div>

      </section>
      <footer>
<!--         {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %} -->
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
